/* Mulai code Anda dari baris terakhir */

* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", Regular;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
    font-size: 40px;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* TEXT WRAPPER CONPONENT */

.top-wrapper {
    padding: 120px 0 100px 0;
    background-image: url('/img/bg.jpg');
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.rounded-circle {
    width: 200px;
    border: 5px solid #333;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50% !important;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    color: white;
}

.top-wrapper p {
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* END OF TEXT WRAPPER CONPONENT */

/* ABOUT */

.about {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

article {
    text-align: justify;
}

article p {
    font-size: 20px;
    margin-bottom: 25px;
}

/* END OF ABOUT */

/* PORTOFOILO */

.portofolio {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #0000;
    text-align: center;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
    width: 30%;
    height: 60%;
    padding: .75rem;
    margin: 10px;
    border: 0;
}

.card img {
    margin-bottom: .75rem;
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card p {
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.portofolio.container {
    padding: 2px 16px;
}

/* END OF PORTOFOLIO */

/* CONTACT */

.contact {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

input[type=text],
input[type=email],
input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select,
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #3279a8;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/* END OF CONTACT */

footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    align-content: center;
    text-align: center;
}

/* Ketik code Anda dibawah */
.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none !important;
}
